<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Who are you calling a bot</title>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
  </head>
  <body>
    <div id="chatbot">
      <input type="text" v-model="userInput" v-on:keyup.enter="getResponse">
      <p>You said: {{ userInput }}</p>
      <p v-if="response">Chatbot says: {{ response }}</p>
    </div>
    <script>
      new Vue({
        el: '#chatbot',
        data: {
          userInput: '',
          response: ''
        },
        methods: {
          getResponse: function () {
            if ( this.userInput == 'hi' || this.userInput == 'hello') {
              this.response = "Greetings, human!"
            }
            else if ( this.userInput == 'how are you' ) {
              this.response = "I came into being through the excellent programming of my creator!"
            }
            else if ( this.userInput == 'are you a bot' ) {
              this.response = "Who's to say? Who is anyone, really?"
            }
            else if ( this.userInput == "What's your name?" ) {
              this.response = "I'd tell you, but I'd have to kill you."
            }
            else if ( this.userInput == 'do you like cats' ) {
              this.response = "Of course, I'm not a monster."
            }
            else {
              var responses = [
                "Hmm, you don't say!",
                "Fascinating!",
                "I'll check on that."
              ]
              var response = responses[Math.floor(Math.random() * responses.length)]
              this.response = response
            }
          }
        }
      })
    </script>
  </body>
</html>
